@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation styles for forwards type only */
@view-transition {
    navigation: auto;
  }


@keyframes glow {
    0% {
        filter: brightness(1) drop-shadow(0 0 5px rgba(0, 255, 255, 0.5));
    }
    50% {
        filter: brightness(1.2) drop-shadow(0 0 15px rgba(0, 255, 255, 0.8));
    }
    100% {
        filter: brightness(1) drop-shadow(0 0 5px rgba(0, 255, 255, 0.5));
    }
}
.glow-on-hover {
  /* Ensures that the filter transition is smooth */
  transition: filter 2s ease;
}

.glow-on-hover:hover {
  /* Apply the glow animation with a duration of 1s and an infinite loop */
  animation: glow 1s ease-in-out infinite;
}


@keyframes slideInBottom {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-in-bottom {
  animation: slideInBottom .6s ease-out forwards;
}

@keyframes blurEffect {
  0% {
      filter: blur(8px);
  }

  100%{
    filter: blur((0px));
  }
}

.blur-on-hover {
  transition: filter 0.3s ease;
  animation: blurEffect 1.2s forwards;

}
.blur-on-hover:hover {
  transition-duration: 1s;
}









